In [6]:
import pandas as pd

### Read datasets

In [7]:
jsonDF = pd.read_json('../datasets/file1.json')
jsonDF.head(7)

   ID    Name  Marks Grade
0  23     Ram     89     B
1  43    Deep     97     A
2  12    Yash     45     F
3  13    Aman     78     C
4  67   Arjun     56     E
5  89  Aditya     76     C

### Let's try to read a more complicated dataset

In [8]:
df = pd.read_json('../datasets/weather_forecast.json')

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [9]:
import json

data = json.load(open('../datasets/weather_forecast.json'))
print(data)

{'city': {'id': 360630, 'name': 'Cairo', 'coord': {'lon': 31.2497, 'lat': 30.0626}, 'country': 'EG', 'population': 7734614, 'timezone': 7200}, 'cod': '200', 'message': 4.1609431, 'cnt': 7, 'list': [{'dt': 1641463200, 'sunrise': 1641444707, 'sunset': 1641481757, 'temp': {'day': 292.57, 'min': 285.16, 'max': 292.73, 'night': 287.9, 'eve': 291.59, 'morn': 285.33}, 'feels_like': {'day': 291.82, 'night': 287.18, 'eve': 290.51, 'morn': 284.48}, 'pressure': 1021, 'humidity': 48, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'sky is clear', 'icon': '01d'}], 'speed': 2.92, 'deg': 59, 'gust': 4.11, 'clouds': 0, 'pop': 0}, {'dt': 1641549600, 'sunrise': 1641531113, 'sunset': 1641568203, 'temp': {'day': 291.55, 'min': 285.69, 'max': 293.35, 'night': 287.99, 'eve': 291.11, 'morn': 285.83}, 'feels_like': {'day': 290.54, 'night': 286.78, 'eve': 289.88, 'morn': 285.22}, 'pressure': 1018, 'humidity': 42, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'sky is clear', 'icon': '01d'}], 'speed': 2.45, 'deg': 221, 'gust': 2.65, 'clouds': 0, 'pop': 0}, {'dt': 1641636000, 'sunrise': 1641617517, 'sunset': 1641654650, 'temp': {'day': 292.11, 'min': 286.65, 'max': 295.53, 'night': 290.85, 'eve': 294.11, 'morn': 286.65}, 'feels_like': {'day': 290.79, 'night': 289.33, 'eve': 292.78, 'morn': 285.31}, 'pressure': 1016, 'humidity': 28, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 'speed': 3.25, 'deg': 149, 'gust': 4.45, 'clouds': 49, 'pop': 0}, {'dt': 1641722400, 'sunrise': 1641703919, 'sunset': 1641741097, 'temp': {'day': 289.97, 'min': 286.46, 'max': 291.87, 'night': 287.73, 'eve': 290.21, 'morn': 287.58}, 'feels_like': {'day': 288.75, 'night': 286.24, 'eve': 288.6, 'morn': 285.86}, 'pressure': 1015, 'humidity': 40, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'sky is clear', 'icon': '01d'}], 'speed': 7.21, 'deg': 224, 'gust': 11.98, 'clouds': 1, 'pop': 0}, {'dt': 1641808800, 'sunrise': 1641790320, 'sunset': 1641827546, 'temp': {'day': 288.71, 'min': 284.47, 'max': 290.27, 'night': 286.41, 'eve': 289.45, 'morn': 284.57}, 'feels_like': {'day': 287.18, 'night': 285.15, 'eve': 288, 'morn': 283.07}, 'pressure': 1014, 'humidity': 33, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'sky is clear', 'icon': '01d'}], 'speed': 8.74, 'deg': 214, 'gust': 11.93, 'clouds': 0, 'pop': 0}, {'dt': 1641895200, 'sunrise': 1641876719, 'sunset': 1641913994, 'temp': {'day': 289.48, 'min': 284.61, 'max': 292.73, 'night': 287.52, 'eve': 291.67, 'morn': 284.61}, 'feels_like': {'day': 288.16, 'night': 285.82, 'eve': 290.23, 'morn': 283.4}, 'pressure': 1017, 'humidity': 38, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'sky is clear', 'icon': '01d'}], 'speed': 8, 'deg': 195, 'gust': 11.2, 'clouds': 0, 'pop': 0}, {'dt': 1641981600, 'sunrise': 1641963116, 'sunset': 1642000444, 'temp': {'day': 290.17, 'min': 285.65, 'max': 292.95, 'night': 287.79, 'eve': 291.58, 'morn': 285.65}, 'feels_like': {'day': 288.53, 'night': 286.41, 'eve': 290.24, 'morn': 283.87}, 'pressure': 1019, 'humidity': 23, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'speed': 4.11, 'deg': 184, 'gust': 7.51, 'clouds': 100, 'pop': 0}]}

In [10]:
df = pd.DataFrame(data['list'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dt          7 non-null      int64
 1   sunrise     7 non-null      int64
 2   sunset      7 non-null      int64
 3   temp        7 non-null      object
 4   feels_like  7 non-null      object
 5   pressure    7 non-null      int64
 6   humidity    7 non-null      int64
 7   weather     7 non-null      object
 8   speed       7 non-null      float64
 9   deg         7 non-null      int64
 10  gust        7 non-null      float64
 11  clouds      7 non-null      int64
 12  pop         7 non-null      int64
dtypes: float64(2), int64(8), object(3)
memory usage: 856.0+ bytes

In [11]:
df.head(2)

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,weather,speed,deg,gust,clouds,pop
0,1641463200,1641444707,1641481757,"{'day': 292.57, 'min': 285.16, 'max': 292.73, ...","{'day': 291.82, 'night': 287.18, 'eve': 290.51...",1021,48,"[{'id': 800, 'main': 'Clear', 'description': '...",2.92,59,4.11,0,0
1,1641549600,1641531113,1641568203,"{'day': 291.55, 'min': 285.69, 'max': 293.35, ...","{'day': 290.54, 'night': 286.78, 'eve': 289.88...",1018,42,"[{'id': 800, 'main': 'Clear', 'description': '...",2.45,221,2.65,0,0

In [12]:
df = pd.concat([df, pd.json_normalize(df['temp'])], axis=1)
df = df.rename(columns={'day': 'temp_day', 'min': 'temp_min', 'max': 'temp_max',
                                'night': 'temp_night', 'eve': 'temp_eve', 'morn': 'temp_morn'})
df.head(2)

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,weather,speed,deg,gust,clouds,pop,temp_day,temp_min,temp_max,temp_night,temp_eve,temp_morn
0,1641463200,1641444707,1641481757,"{'day': 292.57, 'min': 285.16, 'max': 292.73, ...","{'day': 291.82, 'night': 287.18, 'eve': 290.51...",1021,48,"[{'id': 800, 'main': 'Clear', 'description': '...",2.92,59,4.11,0,0,292.57,285.16,292.73,287.90,291.59,285.33
1,1641549600,1641531113,1641568203,"{'day': 291.55, 'min': 285.69, 'max': 293.35, ...","{'day': 290.54, 'night': 286.78, 'eve': 289.88...",1018,42,"[{'id': 800, 'main': 'Clear', 'description': '...",2.45,221,2.65,0,0,291.55,285.69,293.35,287.99,291.11,285.83

In [90]:
df = pd.concat([df, pd.json_normalize(df['feels_like'])], axis=1)
df = df.rename(columns={'day': 'feels_like_day', 'min': 'feels_like_min', 'max': 'feels_like_max',
                                'night': 'feels_like_night', 'eve': 'feels_like_eve', 'morn': 'feels_like_morn'})
df.head(2)

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,weather,speed,deg,...,temp_day,temp_min,temp_max,temp_night,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn
0,1641463200,1641444707,1641481757,"{'day': 292.57, 'min': 285.16, 'max': 292.73, ...","{'day': 291.82, 'night': 287.18, 'eve': 290.51...",1021,48,"[{'id': 800, 'main': 'Clear', 'description': '...",2.92,59,...,292.57,285.16,292.73,287.90,291.59,285.33,291.82,287.18,290.51,284.48
1,1641549600,1641531113,1641568203,"{'day': 291.55, 'min': 285.69, 'max': 293.35, ...","{'day': 290.54, 'night': 286.78, 'eve': 289.88...",1018,42,"[{'id': 800, 'main': 'Clear', 'description': '...",2.45,221,...,291.55,285.69,293.35,287.99,291.11,285.83,290.54,286.78,289.88,285.22

In [13]:
df = pd.concat([df, pd.json_normalize(pd.DataFrame.from_records(df['weather'])[0])], axis=1)
df.head(4)

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,weather,speed,deg,...,temp_day,temp_min,temp_max,temp_night,temp_eve,temp_morn,id,main,description,icon
0,1641463200,1641444707,1641481757,"{'day': 292.57, 'min': 285.16, 'max': 292.73, ...","{'day': 291.82, 'night': 287.18, 'eve': 290.51...",1021,48,"[{'id': 800, 'main': 'Clear', 'description': '...",2.92,59,...,292.57,285.16,292.73,287.90,291.59,285.33,800,Clear,sky is clear,01d
1,1641549600,1641531113,1641568203,"{'day': 291.55, 'min': 285.69, 'max': 293.35, ...","{'day': 290.54, 'night': 286.78, 'eve': 289.88...",1018,42,"[{'id': 800, 'main': 'Clear', 'description': '...",2.45,221,...,291.55,285.69,293.35,287.99,291.11,285.83,800,Clear,sky is clear,01d
2,1641636000,1641617517,1641654650,"{'day': 292.11, 'min': 286.65, 'max': 295.53, ...","{'day': 290.79, 'night': 289.33, 'eve': 292.78...",1016,28,"[{'id': 802, 'main': 'Clouds', 'description': ...",3.25,149,...,292.11,286.65,295.53,290.85,294.11,286.65,802,Clouds,scattered clouds,03d
3,1641722400,1641703919,1641741097,"{'day': 289.97, 'min': 286.46, 'max': 291.87, ...","{'day': 288.75, 'night': 286.24, 'eve': 288.6,...",1015,40,"[{'id': 800, 'main': 'Clear', 'description': '...",7.21,224,...,289.97,286.46,291.87,287.73,290.21,287.58,800,Clear,sky is clear,01d

In [14]:
del df['temp']
del df['feels_like']
del df['weather']
df.head()

,dt,sunrise,sunset,pressure,humidity,speed,deg,gust,clouds,pop,temp_day,temp_min,temp_max,temp_night,temp_eve,temp_morn,id,main,description,icon
0,1641463200,1641444707,1641481757,1021,48,2.92,59,4.11,0,0,292.57,285.16,292.73,287.90,291.59,285.33,800,Clear,sky is clear,01d
1,1641549600,1641531113,1641568203,1018,42,2.45,221,2.65,0,0,291.55,285.69,293.35,287.99,291.11,285.83,800,Clear,sky is clear,01d
2,1641636000,1641617517,1641654650,1016,28,3.25,149,4.45,49,0,292.11,286.65,295.53,290.85,294.11,286.65,802,Clouds,scattered clouds,03d
3,1641722400,1641703919,1641741097,1015,40,7.21,224,11.98,1,0,289.97,286.46,291.87,287.73,290.21,287.58,800,Clear,sky is clear,01d
4,1641808800,1641790320,1641827546,1014,33,8.74,214,11.93,0,0,288.71,284.47,290.27,286.41,289.45,284.57,800,Clear,sky is clear,01d

#### Congratulations, we did it :)

### We can get the JSON dataset as API response, such as the following:

In [15]:
import requests

url = "https://community-open-weather-map.p.rapidapi.com/forecast/daily"
querystring = {"q":"Cairo"}
headers = {
    'x-rapidapi-host': "community-open-weather-map.p.rapidapi.com",
    'x-rapidapi-key': "" #Kindly put your API-Key here :)
    }

response = requests.request("GET", url, headers=headers, params=querystring)
print(response.text)

{"city":{"id":360630,"name":"Cairo","coord":{"lon":31.2497,"lat":30.0626},"country":"EG","population":7734614,"timezone":7200},"cod":"200","message":4.6651935,"cnt":7,"list":[{"dt":1641981600,"sunrise":1641963116,"sunset":1642000444,"temp":{"day":292.41,"min":285.72,"max":294.06,"night":288.93,"eve":290.8,"morn":285.82},"feels_like":{"day":290.86,"night":287.48,"eve":289.25,"morn":283.9},"pressure":1016,"humidity":18,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"speed":7.25,"deg":186,"gust":11.19,"clouds":84,"pop":0},{"dt":1642068000,"sunrise":1642049512,"sunset":1642086893,"temp":{"day":291.19,"min":285.2,"max":292.01,"night":286.09,"eve":289.13,"morn":285.43},"feels_like":{"day":290.15,"night":285.32,"eve":288.25,"morn":283.99},"pressure":1017,"humidity":42,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":6.57,"deg":277,"gust":7.98,"clouds":21,"pop":0.23,"rain":0.25},{"dt":1642154400,"sunrise":1642135906,"sunset":1642173344,"temp":{"day":286.88,"min":283.86,"max":287.12,"night":285.36,"eve":286.59,"morn":284.16},"feels_like":{"day":285.8,"night":284.1,"eve":285.53,"morn":283.38},"pressure":1018,"humidity":57,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"speed":5.1,"deg":292,"gust":8.53,"clouds":99,"pop":0},{"dt":1642240800,"sunrise":1642222299,"sunset":1642259794,"temp":{"day":287.47,"min":284.83,"max":289.07,"night":284.83,"eve":287.68,"morn":285.23},"feels_like":{"day":286.18,"night":283.36,"eve":286.23,"morn":283.88},"pressure":1018,"humidity":47,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":7.18,"deg":285,"gust":9.44,"clouds":97,"pop":0.27,"rain":0.31},{"dt":1642327200,"sunrise":1642308690,"sunset":1642346245,"temp":{"day":284.56,"min":282.94,"max":284.56,"night":282.94,"eve":283.89,"morn":283.44},"feels_like":{"day":283.14,"night":282.55,"eve":283,"morn":281.93},"pressure":1017,"humidity":53,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":6.27,"deg":238,"gust":11.09,"clouds":100,"pop":0.75,"rain":5.48},{"dt":1642413600,"sunrise":1642395079,"sunset":1642432697,"temp":{"day":287.39,"min":282.23,"max":289.46,"night":283.78,"eve":288.93,"morn":282.33},"feels_like":{"day":285.84,"night":282.26,"eve":287.29,"morn":279.88},"pressure":1024,"humidity":37,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":5.11,"deg":6,"gust":9.69,"clouds":3,"pop":0.41,"rain":0.33},{"dt":1642500000,"sunrise":1642481467,"sunset":1642519149,"temp":{"day":286.64,"min":282.69,"max":288.89,"night":285.3,"eve":288.68,"morn":282.69},"feels_like":{"day":285.25,"night":283.88,"eve":287.33,"morn":282.69},"pressure":1027,"humidity":46,"weather":[{"id":800,"main":"Clear","description":"sky is clear","icon":"01d"}],"speed":2.22,"deg":272,"gust":2.87,"clouds":0,"pop":0}]}

In [26]:
json.loads(response.text)
#take care that it's json.loads not json.load

{'city': {'id': 360630,
  'name': 'Cairo',
  'coord': {'lon': 31.2497, 'lat': 30.0626},
  'country': 'EG',
  'population': 7734614,
  'timezone': 7200},
 'cod': '200',
 'message': 4.6651935,
 'cnt': 7,
 'list': [{'dt': 1641981600,
   'sunrise': 1641963116,
   'sunset': 1642000444,
   'temp': {'day': 292.41,
    'min': 285.72,
    'max': 294.06,
    'night': 288.93,
    'eve': 290.8,
    'morn': 285.82},
   'feels_like': {'day': 290.86,
    'night': 287.48,
    'eve': 289.25,
    'morn': 283.9},
   'pressure': 1016,
   'humidity': 18,
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'speed': 7.25,
   'deg': 186,
   'gust': 11.19,
   'clouds': 84,
   'pop': 0},
  {'dt': 1642068000,
   'sunrise': 1642049512,
   'sunset': 1642086893,
   'temp': {'day': 291.19,
    'min': 285.2,
    'max': 292.01,
    'night': 286.09,
    'eve': 289.13,
    'morn': 285.43},
   'feels_like': {'day': 290.15,
    'night': 285.32,
    'eve': 288.25,
    'morn': 283.99},
   'pressure': 1017,
   'humidity': 42,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'speed': 6.57,
   'deg': 277,
   'gust': 7.98,
   'clouds': 21,
   'pop': 0.23,
   'rain': 0.25},
  {'dt': 1642154400,
   'sunrise': 1642135906,
   'sunset': 1642173344,
   'temp': {'day': 286.88,
    'min': 283.86,
    'max': 287.12,
    'night': 285.36,
    'eve': 286.59,
    'morn': 284.16},
   'feels_like': {'day': 285.8, 'night': 284.1, 'eve': 285.53, 'morn': 283.38},
   'pressure': 1018,
   'humidity': 57,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'speed': 5.1,
   'deg': 292,
   'gust': 8.53,
   'clouds': 99,
   'pop': 0},
  {'dt': 1642240800,
   'sunrise': 1642222299,
   'sunset': 1642259794,
   'temp': {'day': 287.47,
    'min': 284.83,
    'max': 289.07,
    'night': 284.83,
    'eve': 287.68,
    'morn': 285.23},
   'feels_like': {'day': 286.18,
    'night': 283.36,
    'eve': 286.23,
    'morn': 283.88},
   'pressure': 1018,
   'humidity': 47,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'speed': 7.18,
   'deg': 285,
   'gust': 9.44,
   'clouds': 97,
   'pop': 0.27,
   'rain': 0.31},
  {'dt': 1642327200,
   'sunrise': 1642308690,
   'sunset': 1642346245,
   'temp': {'day': 284.56,
    'min': 282.94,
    'max': 284.56,
    'night': 282.94,
    'eve': 283.89,
    'morn': 283.44},
   'feels_like': {'day': 283.14, 'night': 282.55, 'eve': 283, 'morn': 281.93},
   'pressure': 1017,
   'humidity': 53,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'speed': 6.27,
   'deg': 238,
   'gust': 11.09,
   'clouds': 100,
   'pop': 0.75,
   'rain': 5.48},
  {'dt': 1642413600,
   'sunrise': 1642395079,
   'sunset': 1642432697,
   'temp': {'day': 287.39,
    'min': 282.23,
    'max': 289.46,
    'night': 283.78,
    'eve': 288.93,
    'morn': 282.33},
   'feels_like': {'day': 285.84,
    'night': 282.26,
    'eve': 287.29,
    'morn': 279.88},
   'pressure': 1024,
   'humidity': 37,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'speed': 5.11,
   'deg': 6,
   'gust': 9.69,
   'clouds': 3,
   'pop': 0.41,
   'rain': 0.33},
  {'dt': 1642500000,
   'sunrise': 1642481467,
   'sunset': 1642519149,
   'temp': {'day': 286.64,
    'min': 282.69,
    'max': 288.89,
    'night': 285.3,
    'eve': 288.68,
    'morn': 282.69},
   'feels_like': {'day': 285.25,
    'night': 283.88,
    'eve': 287.33,
    'morn': 282.69},
   'pressure': 1027,
   'humidity': 46,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'sky is clear',
     'icon': '01d'}],
   'speed': 2.22,
   'deg': 272,
   'gust': 2.87,
   'clouds': 0,
   'pop': 0}]}

In [27]:
df_from_API = pd.DataFrame(json.loads(response.text)['list'])
df_from_API.head(2)

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,weather,speed,deg,gust,clouds,pop,rain
0,1641981600,1641963116,1642000444,"{'day': 292.41, 'min': 285.72, 'max': 294.06, ...","{'day': 290.86, 'night': 287.48, 'eve': 289.25...",1016,18,"[{'id': 803, 'main': 'Clouds', 'description': ...",7.25,186,11.19,84,0.00,NaN
1,1642068000,1642049512,1642086893,"{'day': 291.19, 'min': 285.2, 'max': 292.01, '...","{'day': 290.15, 'night': 285.32, 'eve': 288.25...",1017,42,"[{'id': 500, 'main': 'Rain', 'description': 'l...",6.57,277,7.98,21,0.23,0.25

#### Now it's the time to repeat the same steps we did before to handle this dataframe, let's do it :)