In [1]:
import pandas as pd
import numpy as np

In [2]:
sample_numpy_data = np.array(np.arange(2,26)).reshape((6,4))
dates_index = pd.date_range('20220113', periods=6)
sample_df = pd.DataFrame(sample_numpy_data, index=dates_index, columns=list('ABCD'))
sample_df

             A   B   C   D
2022-01-13   2   3   4   5
2022-01-14   6   7   8   9
2022-01-15  10  11  12  13
2022-01-16  14  15  16  17
2022-01-17  18  19  20  21
2022-01-18  22  23  24  25

##### describe(): a quick statistical summary
- notice: integer data summarized with floating point numbers

In [3]:
pd.set_option('display.precision', 2)
sample_df.describe(percentiles= [.25, .5, .75])

           A      B      C      D
count   6.00   6.00   6.00   6.00
mean   12.00  13.00  14.00  15.00
std     7.48   7.48   7.48   7.48
min     2.00   3.00   4.00   5.00
25%     7.00   8.00   9.00  10.00
50%    12.00  13.00  14.00  15.00
75%    17.00  18.00  19.00  20.00
max    22.00  23.00  24.00  25.00

##### column mean

In [4]:
sample_df.mean()

A    12.0
B    13.0
C    14.0
D    15.0
dtype: float64

##### row mean

In [5]:
sample_df.mean(1)

2022-01-13     3.5
2022-01-14     7.5
2022-01-15    11.5
2022-01-16    15.5
2022-01-17    19.5
2022-01-18    23.5
Freq: D, dtype: float64