### Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers,
Python objects, etc.). The axis labels are collectively referred to as the index.

In [1]:
import pandas as pd
import numpy as np

##### Create series from NumPy array
number of labels in 'index' must be the same as the number of elements in array

In [4]:
my_simple_series = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
my_simple_series

a   -0.195657
b    1.117718
c   -0.774166
d    0.633625
e    0.161693
dtype: float64

In [5]:
my_simple_series.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [8]:
my_simple_series.values

array([-0.19565725,  1.1177179 , -0.77416613,  0.63362518,  0.16169318])

##### Create series from NumPy array, without explicit index

In [9]:
my_simple_series = pd.Series(np.random.randn(5))
my_simple_series

0    0.520451
1   -1.873474
2   -0.955029
3    0.840386
4   -2.442701
dtype: float64

Access a series like a NumPy array

In [10]:
my_simple_series[:3]

0    0.520451
1   -1.873474
2   -0.955029
dtype: float64

##### Create series from Python dictionary

In [11]:
my_dictionary = {'a' : 45., 'b' : -19.5, 'c' : 4444}
my_second_series = pd.Series(my_dictionary)
my_second_series

a      45.0
b     -19.5
c    4444.0
dtype: float64

Access a series like a dictionary

In [9]:
my_second_series['b']

-19.5

In [13]:
pd.Series(my_dictionary, index=['b', 'c', 'd', 'a'])

b     -19.5
c    4444.0
d       NaN
a      45.0
dtype: float64

In [14]:
my_second_series.get('a')

45.0

In [15]:
unknown = my_second_series.get('f')
type(unknown)

NoneType

##### Create series from scalar
If data is a scalar value, an index must be provided. The value will be repeated to match the length of index

In [12]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [13]:
pd.Series(5.)

0    5.0
dtype: float64

### Time-series data

In [16]:
my_index = pd.date_range('13/1/2022', periods=9, freq='min')
my_series = pd.Series(np.arange(9), index=my_index)
my_series

2022-01-13 00:00:00    0
2022-01-13 00:01:00    1
2022-01-13 00:02:00    2
2022-01-13 00:03:00    3
2022-01-13 00:04:00    4
2022-01-13 00:05:00    5
2022-01-13 00:06:00    6
2022-01-13 00:07:00    7
2022-01-13 00:08:00    8
Freq: T, dtype: int32

In [17]:
my_series['2022-01-13 00:02:00':'2022-01-13 00:06:00']

2022-01-13 00:02:00    2
2022-01-13 00:03:00    3
2022-01-13 00:04:00    4
2022-01-13 00:05:00    5
2022-01-13 00:06:00    6
Freq: T, dtype: int32

In [18]:
my_series['2022-01-13':'2022-01-16']

2022-01-13 00:00:00    0
2022-01-13 00:01:00    1
2022-01-13 00:02:00    2
2022-01-13 00:03:00    3
2022-01-13 00:04:00    4
2022-01-13 00:05:00    5
2022-01-13 00:06:00    6
2022-01-13 00:07:00    7
2022-01-13 00:08:00    8
Freq: T, dtype: int32

In [19]:
my_series.resample('3min').sum()

2022-01-13 00:00:00     3
2022-01-13 00:03:00    12
2022-01-13 00:06:00    21
Freq: 3T, dtype: int32

In [20]:
my_series.resample('3min', label='right').sum()

2022-01-13 00:03:00     3
2022-01-13 00:06:00    12
2022-01-13 00:09:00    21
Freq: 3T, dtype: int32