In [3]:
import pandas as pd
import numpy as np

In [4]:
starting_date = '20220112'
sample_numpy_data = np.array(np.arange(24)).reshape((6,4))
dates_index = pd.date_range(starting_date, periods=6)
sample_df = pd.DataFrame(sample_numpy_data, index=dates_index, columns=list('ABCD'))
sample_df

             A   B   C   D
2022-01-12   0   1   2   3
2022-01-13   4   5   6   7
2022-01-14   8   9  10  11
2022-01-15  12  13  14  15
2022-01-16  16  17  18  19
2022-01-17  20  21  22  23

In [5]:
sample_df.to_csv("../datasets/written_dataset.csv", index=False, sep="|")