In [1]:
#q5
import pandas as pd

In [5]:
csvDF = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
csvDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
csvDF

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
pd.set_option('display.precision', 2)
des=csvDF.describe()

In [13]:
des

       sepal_length  sepal_width  petal_length  petal_width
count        150.00       150.00        150.00       150.00
mean           5.84         3.06          3.76         1.20
std            0.83         0.44          1.77         0.76
min            4.30         2.00          1.00         0.10
25%            5.10         2.80          1.60         0.30
50%            5.80         3.00          4.35         1.30
75%            6.40         3.30          5.10         1.80
max            7.90         4.40          6.90         2.50

In [17]:
means=des[1:2]
means

      sepal_length  sepal_width  petal_length  petal_width
mean          5.84         3.06          3.76          1.2

In [16]:
min_values=des[3:4]
min_values

     sepal_length  sepal_width  petal_length  petal_width
min           4.3          2.0           1.0          0.1

In [18]:
max_values=des[7:8]
max_values

     sepal_length  sepal_width  petal_length  petal_width
max           7.9          4.4           6.9          2.5

In [21]:
df = pd.concat([means,min_values,max_values], axis=0)

print(df)

      sepal_length  sepal_width  petal_length  petal_width
mean          5.84         3.06          3.76          1.2
min           4.30         2.00          1.00          0.1
max           7.90         4.40          6.90          2.5

In [24]:
df.to_csv("pandas_q5_collections.csv")